.form-container {
  width: 600px;
  margin: 40px auto auto 200px;
  padding: 20px;
  border: 1px solid #ffd4d4;
  border-radius: 8px;
  background-color: white;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
#utilityType {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffd4d4;
  border-radius: 8px;
}
.form-group {
  margin-bottom: 20px;
  border-color: #ffd4d4;
  border-radius: 15px;
}
.inputLable {
  border-color: #ffd4d4;
  border-radius: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffd4d4;
  border-radius: 8px;
}

.form-group textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: #ff9bd2;
}
